html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Regular'),
    url(../fonts/MullerRegular.woff2) format('woff2'),
    url(../fonts/MullerBold.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Medium'),
    url(../fonts/MullerMedium.woff2) format('woff2'),
    url(../fonts/MullerMedium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Light'),
    url(../fonts/MullerLight.woff2) format('woff2'),
    url(../fonts/MullerLight.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Bold'),
    url(../fonts/MullerBold.woff2) format('woff2'),
    url(../fonts/MullerBold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 1200px;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    background: #F1F1F1;
}

/* global */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    padding: 13px 20px;
    border-radius: 10px;
    border: 1px solid #C93;
    color: #CC9933;
    transition: color .3s ease-in-out,
    background-color .3s ease-in-out;
}

.btn:focus {
    color: #FFF;
    background-color: #c93;
}

.btn:hover {
    color: #fff;
    background-color: #c93;
}

.btn:active {
    color: #fff;
    background-color: #A47312;
}

.flex {
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #333;
    font-size: 40px;
    font-weight: 300;
}

.mail {
    width: 128px;
    transition: color 0.3s ease-in-out;
}

.mail:focus {
    color: #c93;
    outline: 1px solid #C93;
}

.mail:hover {
    color: #F0BF5F;
}

.mail:active {
    color: #A47312;
    outline: none;
}

.phone {
    width: 143px;
    transition: color 0.3s ease-in-out;
}

.phone:focus {
    color: #c93;
    outline: 1px solid #C93;
}

.phone:hover {
    color: #F0BF5F;;
}

.phone:active {
    color: #A47312;
    outline: none;
}

:root {
    --main-link-color: #c93;
    --active-link-color: #A47312;
    --main-text-color: #000;
    --second-text-color: #fff;
}

/* header */
.header {
    padding: 36px 0 0;
}

.container-top {
    align-items: center;
    margin-bottom: 25px;
}

.container-top-left {
    align-items: center;
    margin-right: auto;
}

.header-logo {
    margin: 0;
    margin-right: 25px;
}

.header-link {
    margin-right: 52px;
    align-items: center;
    transition: color 0.3s ease-in-out;
}

.header-link:focus {
    color: #c93;
    outline: 1px solid #C93;
    outline-offset: 5px;
}

.header-link:hover {
    color: #F0BF5F;;
}

.header-link:active {
    color: #A47312;
    outline: none;
}

.header-link-svg {
    fill: #C93;
    transition: fill 0.3s ease-in-out;
}

.header-link:hover .header-link-svg {
    fill: #F0BF5F;
}

.header-link:active .header-link-svg {
    fill:#A47312;
}

.header-top-span {
    transition: color 0.3s ease-in-out;
}

.header-link:hover .header-top-span {
    color: #F0BF5F;
}

.header-link:active .header-top-span {
    color: #A47312;
}

.header-top-span {
    padding-left: 5px;
    color: rgba(204, 153, 51, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.container-bottom {
    align-items: center;
    padding: 14px 45px;
    background-color: #fff;
    border-radius: 15px;
}

.header-nav {
    margin-right: auto;
}

.header-buttons {
    margin-right: 52px;
}

.header-item {
    color: #666;
    font-size: 16px;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.btn-header-1 {
    margin-right: 15px;
}

.header-address {
    color: rgba(102, 102, 102, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;

}

.header-address-link {
    font-style: normal;
    transition: color 0.3s ease-in-out;
}

.header-address-link:focus {
    color: #c93;
    outline: 1px solid #C93;
    outline-offset: 5px;
}

.header-address-link:hover {
    color: #C93;
}

.header-address-link:active {
    color: #A47312;
    outline: none;
}

.header-item-link {
    transition: color 0.3s ease-in-out;
}

.header-item-link:focus {
    color: #c93;
    outline: 1px solid #C93;
    outline-offset: 5px;
}

.header-item-link:hover {
    color: #C93;
}

.header-item-link:active {
    color: #A47312;
    outline: none;
}

/* special offer */
.special-offer {
    padding: 70px 0 0;
}

.left-block {
    margin-right: 24px;
}

.card {
    position: relative;
    width: 573px;
    min-height: 258px;
    margin-bottom: 24px;
    padding: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}

.card:last-child{
    margin-bottom: 0;
  }

.card-1 {
    margin-bottom: 24px;
    background-image: url(../img/offer-1.jpg);
}

.card-2 {
    background-image: url(../img/offer-3.jpg);
}

.big-card {
    padding-top: 250px;
    background-image: url(../img/offer-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.big-card-header {
    margin: 0;
    width: 299px;
    min-height: 180px;
}

.card-header {
    margin: 0;
    margin-bottom: 15px;
    max-width: 420px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.card-price {
    display: block;
    margin-bottom: 47px;
    color: #FFF;
    font-size: 20px;
    opacity: 0.800000011920929;
}

.card-link {
    margin-bottom: 40px;
    padding-right: 15px;
    color: #F0BF5F;
    font-size: 16px;
    background-image: url(../img/Rectangle\ 2.svg);
    background-repeat: no-repeat;
    background-position: right center;
    transition: padding-right 0.3s ease-in-out;
}

.card-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 1px solid transparent;
    outline-offset: 0px;
    transition: outline-color 0.3s ease-in-out,
    outline-offset 0.3s ease-in-out;
}

.card-link:focus::before {
    outline-color: #c93;
    outline-offset: 8px;
}

.card-link:hover {
    padding-right: 28px;
}

.card-link:active {
    color: #FFF;
    padding-right: 15px;
}

/* about us */
.about-us {
    padding: 70px 0 0;
}

.about-us-text {
    margin: 0;
    width: 888px;
    min-height: 192px;
    color: #000;
    font-size: 16px;
    line-height: 200%;
}

/* services */
.services {
    padding: 70px 0 0;
}
.services-list {
    flex-wrap: wrap;
}

.services-item {
    position: relative;
    width: 563px;
    min-height: 330px;
    padding: 32px;
    padding-top: 200px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: 563px 163px;
    border-radius: 15px;
    background-color: #fff;
}

.services-item:not(:nth-child(2n)) {
    margin-right: 30px;
}

.services-img-1 {
    background-image: url(../img/services-1.jpg);
}

.services-img-2 {
    background-image: url(../img/services-2.jpg);
}

.services-img-3 {
    background-image: url(../img/services-3.jpg);
}

.services-img-4 {
    background-image: url(../img/services-4.jpg);
}

.services-card-header {
    margin: 0;
    margin-bottom: 5px;
    min-width: 285px;
    min-height: 40px;
    color: #CC9933;
    font-size: 20px;
    font-weight: 500;
    line-height: 200%;
}

.services-card-link {
    padding-right: 15px;
    background-image: url(../img/Rectangle\ 2.svg);
    background-repeat: no-repeat;
    background-position: right;
    transition: padding-right 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.services-card-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 1px solid transparent;
    outline-offset: 0px;
    transition: outline-color 0.3s ease-in-out,
    outline-offset 0.3s ease-in-out;
}

.services-card-link:focus::before {
    outline-color: #c93;
    outline-offset: 8px;
}

.services-card-link:hover {
    padding-right: 28px;
    color: #F0BF5F;
}

.services-card-link:active {
    padding-right: 15px;
    color: #A47312;
}

.services-card-descr {
    margin: 0;
    max-width: 402px;
    min-height: 64px;
    color: #000;
    font-size: 16px;
    line-height: 200%;
}

/* advantages */
.advantages {
    padding: 70px 0 0;
}

.advantages-list {
    flex-wrap: wrap;
    padding: 0;
}

.advantages-item {
    width: 260px;
    padding: 30px;
    padding-top: 120px;
    min-height: 276px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: 66px;
    background-position: 45px 35px;
}

.advantages-icon-1 {
    background-image: url(../img/bathtub.svg);
}

.advantages-icon-2 {
    background-image: url(../img/icon-2.svg);
}

.advantages-icon-3 {
    background-image: url(../img/icon-3.svg);
}

.advantages-icon-4 {
    background-image: url(../img/icon-4.svg);
}

.advantages-icon-5 {
    background-image: url(../img/icon-5.svg);
}

.advantages-icon-6 {
    background-image: url(../img/icon-6.svg);
}

.advantages-icon-7 {
    background-image: url(../img/icon-7.svg);
}

.advantages-icon-8 {
    background-image: url(../img/icon-8.svg);
}

.advantages-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.advantages-descr {
    margin: 0;
    font-size: 16px;
    line-height: 200%;
}

/* hotels */
.hotels {
    padding: 70px 0 0;
}

.hotels-list {
    flex-wrap: wrap;
}

.hotels-item {
    flex-direction: column;
    width: 360px;
    min-height: 440px;
    background-color: #FFF;
    border-radius: 15px;
    margin-bottom: 30px;
}

.hotels-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.hotel-bg-img {
    object-fit: cover;
    width: 374px;
    height: 217px;
    margin-bottom: 20px;
    border-radius: 15px 15px 0px 0px;
}

.hotel-card-content {
    padding: 20px 40px;
}

.hotel-card-offset {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hotel-price {
    max-width: 150px;
    font-size: 16px;
    color: #000;
}

.hotel-price-article {
    margin-right: 4px;
    color: #999;
}

.hotel-price-numbers {
    margin-right: 4px;
    font-size: 20px;
    font-weight: 700;
}

.hotel-name {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}

.hotel-location {
    margin-bottom: 20px;
    color: #999;
    font-size: 16px;
}

.hotel-main-card {
    min-height: 440px;
    height: 100%;
    flex-direction: column;
    padding: 40px;
    justify-content: flex-end;
    background-image: url(../img/main-hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.hotel-main-card-link {
    margin: 0 auto;
    color: #FFF;
    align-items: center;
    font-size: 20px;
    font-weight: 200%;
    line-height: 200%;
}

.link-span{
    margin-right: 5px;
}

.hotel-main-card {
    position: relative;
}

.hotel-main-card-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* tour */
.tour {
    padding: 70px 0 0;
}

.tour-fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.form-element-select {
    width: 169px;
}

.form-element-input {
    width: 121px;
}

.form-element-tourist {
    margin-right: 51px;
}

.form-element {
    margin-right: 41px;
    border: 0;
}

.form-element-border {
    border-bottom: 1px solid #E9E9E9;;
}

.tour-legend {
    display: block;
    margin-bottom: 15px;
    padding-left: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.tour-form-container {
    width: 1080px;
    height: 106px;
    margin: 0 auto;
    padding: 32px 28px;
    align-items: center;
    flex-shrink: 0;
    background-color: #FFF;
    border-radius: 15px;
}

.tour-btn {
    min-width: 108px;
    height: 42px;
    padding: 13px 30px;
    flex-direction: column;
    align-self: center;
    border-radius: 10px;
}

.tour-container {
    width: 1170px;
    height: 256px;
    background-color: rgba(233, 233, 233, 1);
    border-radius: 15px;
}

.tour-title {
    padding-top: 45px;
    padding-left: 40px;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
}

/* contacts */
.contacts {
    padding: 70px 0 0;
}

.contacts-wrapper {
    padding: 45px;
    background-color: #fff;
    border-radius: 15px;
}

.contacts-left {
    width: 375px;
    min-height: 450px;
    margin-right: 50px;
}

.contacts-title {
    color: #333;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
}

.contacts-list {
    margin-bottom: 45px;
}

.contacts-item {
    min-height: 72px;
    margin-bottom: 25px;
    padding-bottom: 23px;
    border-bottom: 1px solid #e9e9e9;
}

.contacts-item:last-child{
    margin-bottom: 0;
}

.contacts-item-address,
.contacts-item-phones,
.contacts-item-emails,
.contacts-item-time {
    display: flex;
    flex-direction: column;
}

.contacts-item-address {
    max-width: 200px;
    min-height: 48px;
}

.contacts-item-phones {
    flex-wrap: wrap;
}

.contacts-item-time{
    width: 214px;
    min-height: 48px;
}

.contacts-item-title {
    margin: 0;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.title-address {
    margin-right: 83px;
}

.title-phones {
    margin-right: 47px;
}

.title-mail {
    margin-right: 93px;
}

.title-time {
    margin-right: 74px;
}

.contacts-btn {
    padding: 0;
    padding: 27px 29.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.contacts-img-div{
    width: 653px;
    min-height: 450px;
    border-radius: 10px;
}

.contacts-img {
    height: 100%;
}

.address-text {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
}

.phones-link {
    color: #C93;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.contacts-emails {
    color: #C93;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.contacts-mail-span {
    color: #999;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.contacts-item-time {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* footer */
.footer {
    padding: 40px 0 30px;
}

.footer-container {
    width: 1170px;
    min-height: 341px;
    padding: 45px;
    border-radius: 15px;
    background-color: #333;
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 254px 228px;
    background-position: 739px bottom;
}

.footer-left {
    width: 320px;
    margin-right: 125px;
    flex-direction: column;
}

.footer-center {
    margin-right: 269px;
    flex-direction: column;
}

.footer-copy {
    width: 302px;
    min-height: 60px;
    margin: 0;
    margin-bottom: 37px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 190%;
}

.footer-text {
    margin: 0;
    width: 302px;
    min-height: 90px;
    margin-bottom: 40px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 190%;
}

.footer-link {
    color: #C93;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    }

.footer-address{
    margin-bottom: 15px;
}

.footer-address-text {
    margin: 0;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.footer-tel {
    flex-direction: column;
    margin-bottom: 15px;
}

.footer-tel-link {
    color: #C93;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.footer-email {
    flex-direction: column;
    color: #C93;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.footer-social:not(:last-child) {
    margin-bottom: 20px;
}

.footer-svg {
    fill: rgba(153, 153, 153, 1);
    transition: fill 0.3s ease-in-out;
}

.footer-social-link:focus .footer-svg {
    fill: rgba(204, 153, 51, 1);
}

.footer-social-link:hover .footer-svg {
    fill: rgba(204, 153, 51, 1)
}

.footer-social-link:active .footer-svg {
    fill: rgba(164, 115, 18, 1);
}

