html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Regular'),
    url(../fonts/MullerRegular.woff2) format('woff2'),
    url(../fonts/MullerBold.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Medium'),
    url(../fonts/MullerMedium.woff2) format('woff2'),
    url(../fonts/MullerMedium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Light'),
    url(../fonts/MullerLight.woff2) format('woff2'),
    url(../fonts/MullerLight.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Bold'),
    url(../fonts/MullerBold.woff2) format('woff2'),
    url(../fonts/MullerBold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 1200px;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    background: #F1F1F1;
}

/* global */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #333;
    font-size: 40px;
    font-weight: 300;
}

/* header */
.header {
    padding: 36px 0;
}

.container-top {
    align-items: center;
    margin-bottom: 25px;
}

.container-top-left {
    align-items: center;
    margin-right: auto;
}

.header-logo {
    margin: 0;
    margin-right: 25px;
}

.header-link {
    margin-right: 52px;
    align-items: center;
}

.header-top-span {
    padding-left: 5px;
    color: rgba(204, 153, 51, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.container-bottom {
    align-items: center;
    padding: 25px 20px;
    background-color: #fff;
    border-radius: 15px;
}

.header-nav {
    margin-right: auto;
}

.header-buttons {
    margin-right: 52px;
}

.header-item {
    color: #666;
    font-size: 16px;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.btn {
    padding: 13px 20px;
    border-radius: 10px;
    border: 1px solid #C93;
    color: #CC9933
}

.btn-header-1 {
    margin-right: 15px;
}

.header-address {
    color: rgba(102, 102, 102, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

/* special offer */
.special-offer {
    padding: 70px 0 0;
}

.left-block {
    margin-right: 24px;
}

.card {
    width: 573px;
    min-height: 258px;
    margin-bottom: 24px;
    padding: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.card:last-child{
    margin-bottom: 0;
  }

.card-1 {
    margin-bottom: 24px;
    background-image: url(../img/offer-1.jpg);
}

.card-2 {
    background-image: url(../img/offer-3.jpg);
}

.big-card {
    padding-top: 250px;
    background-image: url(../img/offer-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.big-card-header {
    margin: 0;
    width: 299px;
    min-height: 180px;
}

.card-header {
    margin: 0;
    padding-top: 40px;
    margin-bottom: 15px;
    max-width: 420px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.card-price {
    display: block;
    margin-bottom: 47px;
    color: #FFF;
    font-size: 20px;
    opacity: 0.800000011920929;
}

.card-link {
    margin-bottom: 40px;
    padding-right: 15px;
    color: #F0BF5F;
    font-size: 16px;
    background-image: url(../img/Rectangle\ 2.svg);
    background-repeat: no-repeat;
    background-position: right center;
}

/* about us */
.about-us {
    padding: 70px 0;
}

.about-us-text {
    margin: 0;
    width: 888px;
    min-height: 192px;
    color: #000;
    font-size: 16px;
    line-height: 200%;
}

/* services */
.services {
    padding: 70px 0;
}
.services-list {
    flex-wrap: wrap;
}

.services-item {
    width: 563px;
    min-height: 330px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: 563px 163px;
    border-radius: 15px;
    background-color: #fff;
}

.services-item:not(:nth-child(2n)) {
    margin-right: 30px;
}

.services-img-1 {
    background-image: url(../img/services-1.jpg);
}

.services-img-2 {
    background-image: url(../img/services-2.jpg);
}

.services-img-3 {
    background-image: url(../img/services-3.jpg);
}

.services-img-4 {
    background-image: url(../img/services-4.jpg);
}

.services-card-content {
    padding: 32px;
    padding-top: 200px;
}

.services-card-header {
    margin: 0;
    margin-bottom: 5px;
    min-width: 285px;
    min-height: 40px;
    color: #CC9933;
    font-size: 20px;
    font-weight: 500;
    line-height: 200%;
}

.services-card-link {
    padding-right: 15px;
    background-image: url(../img/Rectangle\ 2.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.services-card-descr {
    margin: 0;
    max-width: 402px;
    min-height: 64px;
    color: #000;
    font-size: 16px;
    line-height: 200%;
}

/* advantages */
.advantages {
    padding: 70px 0;
}

.advantages-list {
    flex-wrap: wrap;
    padding: 0;
}

.advantages-item {
    width: 260px;
    padding: 30px;
    min-height: 276px;
    align-items: flex-end;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: 66px;
    background-position: 45px 35px;
}

.advantages-icon-1 {
    background-image: url(../img/bathtub.svg);
}

.advantages-icon-2 {
    background-image: url(../img/icon-2.svg);
}

.advantages-icon-3 {
    background-image: url(../img/icon-3.svg);
}

.advantages-icon-4 {
    background-image: url(../img/icon-4.svg);
}

.advantages-icon-5 {
    background-image: url(../img/icon-5.svg);
}

.advantages-icon-6 {
    background-image: url(../img/icon-6.svg);
}

.advantages-icon-7 {
    background-image: url(../img/icon-7.svg);
}

.advantages-icon-8 {
    background-image: url(../img/icon-8.svg);
}

.advantages-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.advantages-descr {
    margin: 0;
    font-size: 16px;
    line-height: 200%;
}

/* hotels */
.hotels {
    padding: 70px 0;
}

.hotels-list {
    flex-wrap: wrap;
}

.hotels-item {
    flex-direction: column;
    width: 360px;
    min-height: 440px;
    background-color: #FFF;
    border-radius: 15px;
    margin-bottom: 30px;
}

.hotels-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.hotel-bg-img {
    object-fit: cover;
    width: 374px;
    height: 217px;
    margin-bottom: 20px;
    border-radius: 15px 15px 0px 0px;
}

.hotel-card-content {
    padding: 20px 40px;
}

.hotel-card-offset {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hotel-price {
    max-width: 150px;
    font-size: 16px;
    color: #000;
}

.hotel-price-article {
    margin-right: 4px;
    color: #999;
}

.hotel-price-numbers {
    margin-right: 4px;
    font-size: 20px;
    font-weight: 700;
}

.hotel-name {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}

.hotel-location {
    margin-bottom: 20px;
    color: #999;
    font-size: 16px;
}

.hotel-main-card {
    min-height: 440px;
    height: 100%;
    flex-direction: column;
    padding: 40px;
    justify-content: flex-end;
    background-image: url(../img/main-hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.hotel-main-card-link {
    margin: 0 auto;
    color: #FFF;
    align-items: center;
    font-size: 20px;
    font-weight: 200%;
    line-height: 200%;
}

.link-span{
    margin-right: 5px;
  }
