html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: 'font', sans-serif;
}

/* global */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* header */
.header {
    padding: 36px 0;
}

.container-top {
    align-items: center;
    margin-bottom: 25px;
}

.container-top-left {
    align-items: center;
    margin-right: auto;
}

.header-logo {
    margin: 0;
    margin-right: 25px;
}

.header-link {
    margin-right: 52px;
    align-items: center;
}

.header-top-span {
    padding-left: 5px;
}

.container-bottom {
    align-items: center;
    padding: 25px 20px;
    background: rgba(148, 138, 138, 0.782);
}

.header-nav {
    margin-right: auto;
}

.header-buttons {
    margin-right: 52px;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.btn-header-1 {
    margin-right: 15px;
}

/* special offer */
.special-offer {
    padding: 70px 0 0;
}

.left-block {
    margin-right: auto;
}

.card-1 {
    margin-bottom: 10px;
}

.card-3 {
    margin-right: 52px;
}

/* about us */
.about-us {
    padding: 36px 0;
}

.about-us-text {
    margin: 0;
    width: 888px;
    min-height: 192px;
    line-height: 1.8;
}

/* services */
.services {
    padding: 36px 0;
}
.services-list {
    flex-wrap: wrap;
}

.services-item {
    width: 563px;
    min-height: 330px;
    margin-bottom: 30px;
    align-items: flex-end;
    outline: 1px solid coral;
}

.services-item:not(:nth-child(2n)) {
    margin-right: 30px;
}

.services-card-content {
    padding: 32px;
}

.services-card-header {
    margin: 0;
    margin-bottom: 20px;
}

.services-card-descr {
    line-height: 2.1;
}

/* advantages */
.advantages {
    padding: 36px 0;
}

.advantages-list {
    flex-wrap: wrap;
    padding: 0;
}

.advantages-item {
    width: 260px;
    min-height: 276px;
    align-items: flex-end;
    margin-bottom: 30px;
    outline: 1px solid coral;
}

.advantages-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.advantages-descr {
    margin: 0;
    line-height: 2.2;
    padding: 30px;
}

/* hotels */
.hotels {
    padding: 36px 0;
}

.hotels-list {
    flex-wrap: wrap;
}

.hotels-item {
    flex-direction: column;
    width: 360px;
    min-height: 440px;
    outline: 1px solid coral;
    margin-bottom: 30px;
}

.hotels-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.hotel-bg-img {
    object-fit: cover;
    width: 374px;
    height: 217px;
    margin-bottom: 20px;
}

.hotel-card-content {
    padding: 20px 40px;
}

.hotel-card-offset {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hotel-name {
    margin: 0;
    margin-bottom: 20px;
}

.hotel-location {
    margin-bottom: 20px;
}
